:root {
    --white: #fff;
    --black: #232222;
    --grey: #e1e3e9;
    --red: #c21f1f;
    --blue: #5e647f;
    --blue-disabled: #8a8fa8;

    --font-grey: #878ca0;
    --border-grey: #d9dce1;
    --priority-grey: #f3f4f6;
}