<div class="modal-header">
    <div class="container">
        <button type="button" class="btn-close close pull-right" (click)="bsModalRef.hide()">
            <span class="visually-hidden close">&times;</span>
        </button>
    </div>
</div>
<div class="body">
    <div class="container">
        <section class="section-edit">
            <div>
                <p>List</p>
                <app-custom-select [options]="['English', 'History', 'Maths']" [label]="'Move To'"></app-custom-select>
            </div>
            <div>
                <p>Due Date</p>
                <app-date-picker 
                    [formControl]="$any(editCardForm.controls['dueDate'])" 
                    [minDate]="minDate"
                ></app-date-picker>
            </div>
            <div>
                <p>Priority</p>
                <app-custom-select [options]="['Low', 'Medium', 'High']" [label]="'Change priority'"></app-custom-select>
            </div>
        </section>
        <p>Description</p>
        <textarea [value]="description" class="description"></textarea>
    </div>
</div>
<div class="container">
    <div class="footer">
        <button class="button save" (click)="bsModalRef.hide()">Save</button>
        <button class="button cancel" (click)="bsModalRef.hide()">Cancel</button>
    </div>
</div>