<div class="modal-header">
    <div class="container">
        <button type="button" class="btn-close close pull-right" (click)="bsModalRef.hide()">
            <span class="visually-hidden close">&times;</span>
        </button>
    </div>
</div>
<div class="body">
    <div class="container">
        <section class="section-edit">
            <input formControlName="name" class="input-name">
            <div>
                <p>List</p>
                <app-custom-select 
                    [options]="lists" 
                    [label]="list ? list : 'Select list'" 
                    [formControl]="$any(editCardForm.controls['list'])"
                    name="list"
                ></app-custom-select>
            </div>
            <div>
                <p>Due Date</p>
                <app-date-picker 
                    [formControl]="$any(editCardForm.controls['dueDate'])" 
                    [minDate]="minDate"
                ></app-date-picker>
            </div>
            <div>
                <p>Priority</p>
                <app-custom-select 
                    [options]="priorities" 
                    [label]="priority ? priority : 'Select priority'" 
                    [formControl]="$any(editCardForm.controls['priority'])"
                    name="priority"
                ></app-custom-select>
            </div>
        </section>
        <p>Description</p>
        <textarea [value]="description" class="description" *ngIf="description != undefined">{{description}}</textarea>
        <textarea class="description" *ngIf="description == undefined"></textarea>
    </div>
</div>
<div class="container">
    <div class="footer">
        <button class="button save" (click)="saveChanges()">Save</button>
        <button class="button cancel" (click)="bsModalRef.hide()">Cancel</button>
    </div>
</div>