<div class="container">
    <app-list
        *ngFor="let list of lists; let i = index"
        [listName]="list.name"
        [listId]="list.id"
        [boardId]="boardId"
        [count]="list.cards.length"
        [cards]="list.cards"
        [lists]="listsNames"
        [priorities]="['Low', 'Medium', 'High']"
        [ordinalNumber]="i + 1"
    ></app-list>
    <div>
        <app-add-list (changeEditMode)="changeMode()" *ngIf="createListMode" [boardId]="boardId"></app-add-list>
        <header class="header pointer" *ngIf="!createListMode">
            <h5 class="list-name">Add another list</h5>
            <div class="header__button">
                <button class="button-toggle" (click)="changeMode()">
                    <i class="fa fa-plus"></i>
                </button>
            </div>
        </header>
    </div>
</div>