<div class="container" *ngIf="(this.listsService.lists$ | async) as lists">
    <app-list
        *ngFor="let list of lists?.lists"
        [listName]="list.name"
        [listId]="list.id"
        [count]="list.cards.length"
        [cards]="list.cards"
        [lists]="lists.listNames"
        [priorities]="['Low', 'Medium', 'High']"
    ></app-list>
    <div>
        <app-add-list (changeEditMode)="changeMode()" *ngIf="createListMode"></app-add-list>
        <header class="header pointer" *ngIf="!createListMode">
            <h5 class="list-name">Add another list</h5>
            <div class="header__button">
                <button class="button-toggle" (click)="changeMode()">
                    <i class="fa fa-plus"></i>
                </button>
            </div>
        </header>
    </div>
</div>