<div class="container" *ngIf="!editListMode">
    <header class="header">
        <h5 class="list-name">{{list | titlecase}}</h5>
        <div class="header__button">
            <p class="count">{{count}}</p>
            <div class="dropdown" dropdown>
                <button dropdownToggle class="button-toggle">
                    <i class="fa fa-ellipsis-v"></i>
                </button>
                <div class="dropdown-menu" *dropdownMenu>
                    <p class="dropdown-item" (click)="changeEditMode()">
                        <i class="fa fa-edit"></i>
                        Edit
                    </p>
                    <p class="dropdown-item delete" (click)="deleteList(id!)">
                        <i class="fa fa-trash"></i>
                        Delete
                    </p>
                </div>
            </div>
        </div>
    </header>
    <button class="button" (click)="openCreateCardModal()">+ Add new card</button>
    <div *ngIf="!editListMode">
        <app-card
            *ngFor="let card of cards"
            [id]="card.id"
            [name]="card.name" 
            [description]="card.description"
            [dueDate]="card.dueDate"
            [priority]="card.priority"
            [list]="list"
            [listId]="id"
            [lists]="lists"
        ></app-card>
    </div>
</div>

<div class="container" *ngIf="editListMode">
    <app-edit-list [name]="list" [id]="id" (changeEditMode)="changeEditMode()"></app-edit-list>
</div>