<div class="container" *ngIf="count && count > 0 && !editListMode">
    <header class="header">
        <h5 class="list-name">{{list}}</h5>
        <div class="header__button">
            <p class="count">{{count}}</p>
            <div class="dropdown" dropdown>
                <button dropdownToggle class="button-toggle">
                    <i class="fa fa-ellipsis-v"></i>
                </button>
                <div class="dropdown-menu" *dropdownMenu>
                    <p class="dropdown-item" (click)="changeEditMode()">
                        <i class="fa fa-edit"></i>
                        Edit
                    </p>
                    <p class="dropdown-item delete">
                        <i class="fa fa-trash"></i>
                        Delete
                    </p>
                </div>
            </div>
        </div>
    </header>
    <button class="button" (click)="openEditModal()">+ Add new card</button>
    <div *ngIf="!editListMode">
        <app-card 
            [name]="'English'" 
            [description]="'Task descriptions should be unambiguous, accurate, factual, comprehensive, correct and uniformly designed'"
            [dueDate]="'Saturday, 28 Apr'"
            [priority]="'Low'"
            [list]="'In progress'"
            [lists]="lists"
            [priorities]="priorities"
        ></app-card>
        <app-card
            [name]="'Programming'" 
            [description]="'Task descriptions should be unambiguous, accurate, factual'"
            [dueDate]="'Friday, 26 Apr'"
            [priority]="'Medium'"
            [lists]="lists"
            [priorities]="priorities"
        ></app-card>
        <app-card
            [name]="'History'" 
            [description]="'Task descriptions should be unambiguous, accurate, factual, comprehensive, correct and uniformly designed'"
            [dueDate]="'Sunday, 27 Apr'"
            [priority]="'High'"
            [lists]="lists"
            [priorities]="priorities"
        ></app-card>
    </div>
</div>
<div class="container" *ngIf="count != undefined && count === 0">
    <app-add-list (changeEditMode)="changeMode()" *ngIf="addNewListMode"></app-add-list>
    <header class="header pointer" *ngIf="!addNewListMode" (click)="changeMode()">
        <h5 class="list-name">Add another list</h5>
        <div class="header__button">
            <button class="button-toggle">
                <i class="fa fa-plus"></i>
            </button>
        </div>
    </header>
</div>

<div class="container" *ngIf="editListMode">
    <app-edit-list [name]="list" [id]="id" (changeEditMode)="changeEditMode()"></app-edit-list>
</div>