<div class="modal-header">
    <div class="container">
        <button type="button" class="btn-close close pull-right" (click)="bsModalRef.hide()">
            <span class="visually-hidden close">&times;</span>
        </button>
    </div>
</div>
<div class="body">
    <div class="modal__content">
        <div class="modal__body">
            <div class="container">
                <div class="modal__header">
                    <h4 class="name">{{name}}</h4>
                    <button class="button" (click)="editCard()">Edit card</button>
                </div>
                <div class="card-info">
                    <section class="info">
                        <p class="info__name">
                            <i class="fa fa-list"></i>
                            List
                        </p>
                        <p class="info__value">{{list}}</p>
                    </section>
                    <section class="info">
                        <p class="info__name">
                            <i class="fa fa-calendar-o"></i>
                            Due Date
                        </p>
                        <p class="info__value">{{dueDate | date}}</p>
                    </section>
                    <section class="info">
                        <p class="info__name">
                            <i class="fa fa-tag"></i>
                            Priority
                        </p>
                        <p class="info__value">{{priority}}</p>
                    </section>
                </div>
                <div class="description">
                    <h5 class="description__heading">Description</h5>
                    <p class="description__text">{{description}}</p>
                </div>
            </div>
        </div>
        <div class="modal__activity">
            <div class="container">
                <h4 class="name">Activity</h4>
                <ul class="activity__list">
                    <app-activity 
                        *ngFor="let activity of activities"
                        [cardName]="activity.cardName"
                        [activityName]="activity.activityName"
                        [date]="activity.date"
                        [previousValue]="activity.previous"
                        [updatedValue]="activity.updated"
                        [listName]="activity.listName"
                    ></app-activity>
                </ul>
            </div>
        </div>
    </div>
</div>