.history {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    width: 27%;
    height: 100%;
    background-color: var(--priority-grey);
    z-index: 999;
}

.history-top { 
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.history-header {
    background-color: var(--blue);
}

.container {
    padding: 15px;
}

.title {
    font-weight: 500;
    color: var(--white);
    margin-bottom: 0;
}

.history-body {
    background-color: var(--priority-grey);
}

.history-content {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    color: var(--font-grey);
    font-weight: 500;
    font-size: 0.9rem;
}

.white {
    color: var(--white);
}

.button {
    width: 100%;
    margin: 20px auto;
    padding: 8px 19px;
    border: 1px solid var(--black);
    background-color: var(--priority-grey);
    color: var(--black);
    border-radius: 5px;
    font-family: 'Inter', sans-serif;
    cursor: pointer;
}