<div class="history">
    <div class="history-header">
        <div class="container">
            <section class="history-top">
                <h5 class="title">History</h5>
                <button (click)="hide()" >
                    <i class="fa fa-times white"></i>
                </button>
            </section>
        </div>
    </div>
    <div class="history-body">
        <div class="container content-container">
            <div class="history-content">
                <li>You added WORK to ESSENTIAL list</li>
                <li>You added WORK to ESSENTIAL list</li>
                <li>You added WORK to ESSENTIAL list</li>
                <li>You added WORK to ESSENTIAL list</li>
                <li>You added WORK to ESSENTIAL list</li>
                <li>You added WORK to ESSENTIAL list</li>
                <li>You added WORK to ESSENTIAL list</li>
                <li>You added WORK to ESSENTIAL list</li>
                <li>You added WORK to ESSENTIAL list</li>
            </div>
            <button class="button">Show more</button>
        </div>
    </div>
</div>